body{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    text-align: center;
}

.js{
    width: 88px;
    margin: 50px;
    transition: 9s;
    -webkit-transition: 9s;
    -moz-transition: 9s;
    -ms-transition: 9s;
    -o-transition: 9s;
    -webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

.js:hover{
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
}


.liste{
  background-color: rgb(207, 242, 246);
  width: 80%;
  margin: auto;
  border: 3px solid #558ce5;
}

.liste ol li{
    margin-top: 20px;
}

.liste ol li:hover{
   background-color: rgb(245, 233, 126);
   padding: 8px;
}

.liste ol li a{
    text-decoration: none;
}

.liste ol li a:hover{
   color: rgb(19, 18, 18);
 }

 /* footer */
 footer{
    margin-top: 8px;
    background-color: black;
    color: white;
    padding: 1px;
 }