body{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.liste{
  background-color: rgb(207, 242, 246);
  width: 80%;
  margin: auto;
  border: 3px solid #558ce5;
}

.liste ol li{
    margin-top: 20px;
}

.liste ol li:hover{
   background-color: rgb(7, 7, 7);
   padding: 8px;
}

.liste ol li a{
    text-decoration: none;
}

.liste ol li a:hover{
   color: white;
 }